.cms-menu-test-page .hide-on-test-page{display: none;}
.cms-menu-test-page #nav li a{
    background-image: none!important;
}
#top_menu_block{
    background-color: #04538B;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 12px;
    height: 70px;
    margin: 127px 0 0;
    padding: 5px 19px;
}
#top_menu_block li.level-top{
    float: left;
}
#top_menu_block a.level-top img{
    opacity: 0.8;
}
#top_menu_block a.level-top:hover img{
    opacity: 1;
}